.about

  a
    display: inline-block

    img
      display: inline-block
      vertical-align: middle
      margin-right: 10px

/* EXPERIENCE SECTION

.experience
  height: auto
  background-color: #004e59

  .row
    padding: 80px 0 100px 0

    h5
      color: #fff
      font-size: 1.125em
      line-height: 1.2
      text-transform: uppercase
      font-weight: bold
      margin: 0

      span
        color: #00c4b3
        text-transform: none
        line-height: 1.8
        margin: 0

    h6
      color: #fff
      font-size: 1em
      line-height: 1.3
      text-transform: uppercase
      font-weight: 400
      margin: 0

    p
      color: #fff
      font-size: 1em
      line-height: 1.4
      margin-top: 10px

  h1
    margin: 0

    span
      color: #fff

/* EDUCATION SECTION

.education
  height: auto
  background-color: #f7f7f7

  .row
    padding: 80px 0 50px 0

    h5
      color: #5b6670
      font-size: 1.125em
      line-height: 1.2
      text-transform: uppercase
      font-weight: bold
      margin: 0

      span
        color: #00c4b3
        text-transform: none
        line-height: 1.8
        margin: 0

    h6
      color: #5b6670
      font-size: 1em
      line-height: 1.3
      text-transform: uppercase
      font-weight: 400
      margin: 0

    p
      color: #5b6670
      font-size: 1em
      margin-top: 10px

  h1
    margin: 0

/* DISTINCTIONS SECTION

.distinctions
  height: auto
  background-color: #00c4b3
  border: none
  /*border-top: 5px solid #004e59
  /*border-bottom: 5px solid #004e59

  .row
    padding: 30px 0 30px 0

  h5
    color: #fff
    font-size: 1em
    line-height: 1.2
    text-transform: uppercase
    font-weight: bold
    margin: 0

    span
      color: #fff
      font-size: 0.875em
      font-weight: 500
      line-height: 1.8

/* SKILLS SECTION

.skills
  background-color: #fff

  .row
    padding: 50px 0 50px 0

  h5
    font-size: 1em
    color: #5b6670
    text-transform: uppercase
    margin: 0

/* Specialization Section

.capabilities

  .row
    padding: 0 0 100px 0
