.project
  height: auto
  width: auto
  margin-top: 10px
  background-color: #F5F8FA

  .flex-work
    justify-content: space-between
    display: flex
    align-items: center
    flex-wrap: wrap

  .row
    padding: 100px 0 120px 0
    max-width: 100%

    img
      //display: flex
      padding: 0 50px 0 50px
      //width: 100%
      max-width: 380px
      //float: left

  .project-title
    //display: flex
    margin-top: 20px
    padding: 0 50px 0 50px
    max-width: 600px
    //float: right

    h3
      font-size: 20px
      color: #333E48
      text-transform: uppercase
      margin-bottom: 10px

    h4
      font-size: 30px
      color: #333E48
      font-weight: 500
      margin-top: 0
      margin-bottom: 50px

.lh-work
  height: 300px
  width: 380px
  padding: 0 50px 0 50px
  background:
    image: url(../img/local-harvest-home.png)
    size: contain
    position: center top
    repeat: no-repeat

//.img-shrink
  height: 300px
  margin-right: 200px

.h-declare
  height: 500px
  overflow: hidden
